*{
  margin: 0;
  padding: 0;
}

body{
  width: 100vw;
  margin: 0;
  padding: 0;
}

article{
  width: 100vw;
  overflow: hidden;
}

.nav{
  background: chocolate;
  width: 100vw;
  height: 15vh;
  transition: height 0.4s ease;
  position: fixed;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

.spacer{
  width: 100vw;
  height: 20vh;
}

.nav-links{
  width: 40vw;
  display: flex;
  justify-content: space-around;
  padding-right: 1rem;
}

.link{
  transition: font-size 0.4s ease;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.logo{
  transition: font-size 0.4s;
  margin-left: 2rem;
  text-decoration: none;
  font-size: 3rem;
  color: white;
}



@media screen and (max-width: 812px) {
  .nav-links{
    width: 50vw;
  }
  .link{
    font-size: 0.7rem;
    display: none;
  }
  .logo{
    font-size: 1.5rem;
  }
}
