*{
  margin: 0;
  padding: 0;
}

body{
  width: 100vw;
  margin: 0;
  padding: 0;
  /* this is necessary because somehow the screen size gets larger..? confusing */
  overflow-x: hidden;
}

article{
  width: 100vw;
  overflow: hidden;
}

.nav{
  background: chocolate;
  width: 100vw;
  height: 15vh;
  transition: height 0.4s ease;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* z-index: -1; */
}

.spacer{
  width: 100vw;
  height: 20vh;
}

.nav-links{
  width: 40vw;
  display: flex;
  justify-content: space-around;
  padding-right: 1rem;
}

.link{
  transition: font-size 0.4s ease;
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  color: white;
}

.logo{
  transition: font-size 0.4s;
  margin-left: 2rem;
  text-decoration: none;
  font-size: 3rem;
  color: white;
}

.hamburger{
  /* width: 10vw; */
  display: none;
  /* position: absolute;
  top: 1rem;
  right: 1rem; */
}

@media screen and (max-width: 812px) {
  .nav-links{
    width: 0vw;
  }
  .link{
    width: 0vw;
    font-size: 0.7rem;
    display: none;
  }
  .logo{
    width: 75vw;
    /* font-size: 1.5rem; */
  }
  .hamburger{
    display: block;
    font-size: 2rem;
    z-index: 9;
    /* this might actually have to be a background color */
    color: white;
    /* margin-right: 1rem; */
  }
}
