<%- include("partials/header"); -%>

  <article id="about">

    <div class="flex-row2 card-container">
      <div class="blog-max about">
        <div class="container-relative humm">
          <div class="white-color"></div>
          <h1 class='center contact-prop'>About</h1>
        </div>
        <div class="text-container2">
          <h1>Let's get Connected</h1>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit commodi amet veniam ipsa magnam tempora placeat iure facere quia sint eveniet nam expedita provident adipisci exercitationem iste, vel facilis est, quasi, nihil soluta autem
            quis et! Quaerat eligendi quia rerum ratione laboriosam qui error in commodi voluptate? Magnam laborum, dolor cupiditate rem porro, dignissimos ab eaque facilis esse in aut ipsum delectus vitae reiciendis harum quo sit. Temporibus nobis
            nihil harum, ut repudiandae asperiores molestias ex. Nam vel libero blanditiis amet laudantium ipsam commodi fugit quae, quasi, explicabo deserunt nobis veniam nesciunt doloremque, nisi sed animi molestiae? Dicta optio molestias illo
            accusamus sint sapiente cupiditate, distinctio adipisci voluptatem et minus reprehenderit eveniet reiciendis eos cum ipsam voluptates animi non. Eligendi distinctio minus est nulla natus beatae repudiandae totam dolore aut deserunt nisi
            vitae aperiam ullam, quos quas quaerat quae laborum unde, reprehenderit deleniti repellendus iure, culpa ea. At iure sed tempora laboriosam eaque dolores sequi quidem maiores voluptas nesciunt corporis neque repellendus veritatis autem,
            rerum consequuntur quasi! Laudantium dicta labore officia sapiente, consequatur in itaque, consequuntur quia repudiandae repellendus vitae inventore illo voluptatibus architecto tenetur ex voluptates voluptatem sed aliquid cupiditate
            recusandae. Ipsum temporibus officia incidunt beatae ullam non, commodi! </p>
        </div>
        <div class="card-tail white"></div>


      </div>
    </div>


  </article>

<%- include("partials/footer"); -%>
